.dark-grey-bg {
	background: #565656;
}

.neon-green-txt, a {
	color: #00ff00;
}

.dark-grey-txt {
	color: #565656;
}

.align-center {
	text-align: center;
}

div {
	display: block;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.xl {
	font-size: 2em;
}

.xxl {
	font-size: 4em;
}

.hacker-txt {
	font-family: 'VT323', monospace;
}

.sans-serif {
	font-family: sans-serif;
}

a {
	text-decoration: none
}

a .underline {
	text-decoration: underline;
}