.dark-grey-bg {
	background: #565656;
}

.neon-green-txt, a {
	color: #00ff00;
}

.dark-grey-txt {
	color: #565656;
}

.align-center {
	text-align: center;
}

div {
	display: block;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.xl {
	font-size: 2.5em;
}

.xxl {
	font-size: 4em;
}